<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto GS main site, ABOUT US</title>
    <link rel="stylesheet" href="../static/css/style_d.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Exo&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Exo:ital@0;1&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">

</head>
<body>
    <header>

        <img src="../static/images/autogs-logo.png" style="width: auto; height: 100px;" alt="">

      
    </header>

    <nav>
        
        <a href="home.html">HOME</a>
        <a href="how_it_works.html">HOW IT WORKS</a>
        <a href="video.html">VIDEOS</a>
        <a href="about_us.html"><b>ABOUT US</b></a>
        <a href="control" target="_blank" >WEBSERVER CONTROL</a>


    </nav>

    <div class="names">
        &emsp;<b>HAMZA KAMAL</b> &emsp;&emsp;&emsp;&emsp;   <b>ADAM IKRAM</b>  &emsp;&emsp;&emsp;&emsp; <b> JAWAD ANSER</b>  &emsp;&emsp; <b> TAIM AL-DABBAGH </b>

        
    </div>
    
    <div class="faces">
        
        <img src="../static/images/hamzapfp.jpg" style="width: auto; height: 320px;" alt=""> 
        <img src="../static/images/adampfp.jpg" style="width: auto; height: 320px;" alt=""> 
        <img src="../static/images/jaypfp.jpg" style="width: auto; height: 320px;" alt=""> 
        <img src="../static/images/taim.jpg" style="width: auto; height: 320px;" alt="" > 



    </div>

    <h1>
    frontend developer/ project cordinater  &emsp;&emsp;  lead backend developer  &emsp;&emsp;&emsp;&emsp; project cordinater  &emsp;&emsp;&emsp;&emsp; frontend developer/ lead designer
    </h1>

    
   
  
    
    
   


    
</body>
</html>