<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto GS main site, HOME</title>
    <link rel="stylesheet" href="../static/css/style_a.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Exo&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Exo:ital@0;1&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">

</head>

<body>

    
    
   <div class="container">
       

    <header>
        <img src="../static/images/autogs-logo.png" alt="LOGO">
      
    </header>

    <nav>
        
        <a href="home.html"> <b>HOME</b></a>
        <a href="how_it_works.html">HOW IT WORKS</a>
        <a href="video.html">VIDEOS</a>
        <a href="about_us.html">ABOUT US</a>
        <a href="control" target="_blank" >WEBSERVER CONTROL</a>



    </nav>

    
        
   </div>
  
   <div class="box1">
    <br><br><br><br><br><br><br><br><br><br><br>
        <h1>
            Automated Indoor Greenhouse
            
        </h1>        


   </div>

   <section>
  <img src="images/GHpic4.jpg" style="width:auto; height:400px;" alt="">
   <img src="images/GHpic2.jpg" style="width:auto; height:400px;" alt="">
   <img src="images/GHpic1.jpg" style="width:auto; height:400px;" alt="">


   </section>
   


    
    
</body>
</html>