<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto GS main site, HOW IT WORKS</title>
    <link rel="stylesheet" href="../static/css/style_b.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Exo&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Exo:ital@0;1&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">

</head>
<body>
    <header>

        <img src="..static/images/autogs-logo.png" style="width: auto; height: 100px;" alt="">

      
    </header>

    <nav>
        <a href="home.html">HOME</a>
        <a href="how_it_works.html"> <b>HOW IT WORKS</b></a>
        <a href="video.html">VIDEOS</a>
        <a href="about_us.html">ABOUT US</a>
        <a href="control" target="_blank" >WEBSERVER CONTROL</a>



    </nav>

    

    

    <p class="introtxt">
         
        Have you ever been too lazy or might have forgetton to water you plants? <br>
        not to worry now with the AutoGS, an indoor fully automated greenhouse <br>
        which works to automatically or maunlly water your plants, based on the <br>
        data its sensors collect or simply by user prompt. <br><br>

    </p>

    <p class="subtitles">
       <b>SENSORS</b><br>
    </p>

    <p class="infotxt">
        The primary sensor in the system is the soil moisture sensor. When the soil moisture sesnor drops below 30 percent, it means the surrounding area is dry, this will cause the automated watering system to be activatedby swicthing on the realy which controls the 12v water pump.When using the Greenhouse make surethat the pump is never running dry, meaning the resvoir should not run out of water while the sytem has power, to ensure the pump wont be running when there is no water, as this can his trigger shock waves inside the pump which cause significant damage to the pumping element. The other sesnor is the DHT22, a tempeture and humidity sensor. This sensor will collect data for purposes of showing to the user. It is recommended that this sesnor be left to hang inside the greenhouse for most accurate data results, however becuase it is not completey waterproof it is recommned it not be submerged in water like the soil moitsure sesnor can be. <br><br>   

    </p>

    <p class="subtitles">
        <b>ESP8266</b><br>     
    </p>

    <p class="infotxt">
        The brain of the entire system is the ESP8266 a microcontroller used to connect to 2.4 GHz Wi-Fi. This allows all of the compenets whicha re connected to the esp to be controlled using a the live webserver. It has been placed in a plastic container mimickinga junction box. There is a lid on the container which allows for easy acsess to the esp its connections and the relay. It is recomenend to turn off the system power by unplugging the main powerhub from its 5v volt transformer and that you ground yourself before attempting to tweak with the compenets inside the plastic container.  
    </p>

    <p class="subtitles">
        <b>USING THE CONTROL PANEL WEBSERVER</b> 
    </p>
<h1>
    <img src="../static/images/diagram0.JPG" style="width:1200px; height:800px" alt="">

</h1>




    
    
    
</body>
</html>