<!DOCTYPE html>

<html>
	<head>
		<title>
			AutoGS
		</title>
		<!-- <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}"> -->
		<script>
			window.onload = function() {
					readSensor("temperature");
					readSensor("humidity");
					readSensor("soilmoisture");
					setInterval(loadSensors, 2 * 1000);
			}
			
			function loadSensors() {
				console.log("test");
				readSensor("temperature");
				readSensor("humidity");
				readSensor("soilmoisture");

			}
			function readSensor(sensor) {
				
			  var xhttp = new XMLHttpRequest();
			  xhttp.onreadystatechange = function() {
			    if (this.readyState == 4 && this.status == 200) {
			    	document.getElementById(sensor).innerHTML =  this.responseText;s
			    }
			  };
			  xhttp.open("GET", sensor, true);
			  xhttp.send();
			}
		</script>
	</head>
	
	<body>
	<center>
		<form action='#' method= "post">
			<button class = "red-led-button"name="led-button" type="submit" value="RED_BUTTON"></button>
			
			<br>
			<button class="green-led-button" name="led-button" type="submit" value="GREEN_BUTTON">
			</button>


			<button class="blue-led-button" name="led-button" type="submit" value="BLUE_BUTTON">
			</button>			
			<br>
			
			<button name="led-button" type="submit" value="RESET">Reset Arduino Connection</button>
			
			
			<br>
			<button name="led-button" type="submit" value="SENSOR">Get Sensor Data</button>
			<br>
			<br>
			<br>			

			<h2>Send to LCD</h2>
			<form action="#" method="POST">

				<input name="lcd">

				<input type="submit">

				<button name="submit_led" value="ledToggle"><img id="led-power" alt="LED Power" src="../static/images/power.png"> </button>
			</form>
		</div>
		<div id="colour-box"></div>
		<div class="change-colour">
			<p>Change Colour</p>
		</div>
		<div class="colour-changer">
			<form action="#" methods="POST">
				Red <input name="led-slider" type="range" min="0" max="255" step="1" id="red" value="255" id="redLedValue">
				Green <input name="led-slider" type="range" min="0" max="255" step="1" id="green" value="255" id="greenLedValue">
				Blue <input name="led-slider" type="range" min="0" max="255" step="1" id="blue" value="255" id="blueLedValue">
				<br>
				<input type="submit" value="Submit" name="Send">
			</form>
		</div>
	</div>

	<script type="text/javascript">
		var redSlider = document.getElementById("redLedValue").value;
		var greenSlider = document.getElementById("greenLedValue").value;
		var blueSlider = document.getElementById("blueLedValue").value;

		redSlider.onmouseup = function() {
			document.getElementById("form").submit();
		}
		greenSlider.onmouseup = function() {
			document.getElementById("form").submit();
		}
		blueSlider.onmouseup = function() {
			document.getElementById("form").submit();
		}
	</script>

	<script type="text/javascript">
		var input = document.querySelectorAll("input");
			for(var i = 0; i < input.length; i++){
			input[i].addEventListener("input", function(){
				var red = document.getElementById("red").value,
					green = document.getElementById("green").value,
					blue = document.getElementById("blue").value;
					var display = document.getElementById("colour-box");
				display.style.background = "rgb(" + red + ", " + green + ", " + blue + ")";
			});
		}
	</script>

	<br><br><br><br>

	<div class="water">
		<div class="water-text">
			<p id="water-text">Watering</p>
		</div>
		<div class="water-form">
			<form action="">
				<div class="water-buttons">
					<input onclick="disableManual();" name="wateroption" type="radio" id="automatic" value="AUTOMATIC">
					<label for="automatic">Automatic</label>			

					<label id="textbox-auto" for="autoWaterHumidityDrop" class="textbox">Water if humidity drops below: </label>
					<input class="water-textbox" type="text" id="autoWaterHumidityDrop">

					<br>

					<input onclick="disableAutomatic();" name="wateroption" type="radio" id="manual" value="MANUAL">
					<label for="manual">Manual</label>

					<label for="manualWaterTime" id="textbox-manual" class="textbox">Water for how many seconds:</label>
					<input class="water-textbox" type="text" id="manualWaterTime">

					<br>

					<div class="water-submit">
						<input id="water-submit" type="submit">
					</div>

					<button class="water-submit" name="water-button" type="submit" value="waterToggle">Water</button>
				</div>
			</form>
		</div>
		<!-- </form> -->
		
		<div><span>Temperature Brush=</span><span id="temperature"></span></div>
		<div><span>Humidity=</span><span id="humidity"></span></div>
		<div><span>Soil Moisture=</span><span id="soilmoisture"></span></div>


	</center>
	
		<div><span>Temperature=</span><span id="temperature"></span></div>
		<div><span>Humidity=</span><span id="humidity"></span></div>
		<div><span>Soil Moisture=</span><span id="soilmoisture"></span></div>

	</body>

</html>