<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AutoGS</title>
	<!-- <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}"> -->
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Exo&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Exo:ital@0;1&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">

</head>
<body>
	<div class="logo-home">
		<a href="interface.html">
		<img class="logo" src="../static/images/autogs-logo.png" alt="AutoGS">
		</a>
	</div>


	<div class="led">
		<p id="led-header">LED</p>
		<img id="led-power" src="../static/images/power.png" alt="Power">
		<div id="colour-box">
		</div>
		<p id="change-colour">Change Colour</p>
	</div>

	<div class="water">
		<p id="water-text">Watering</p>
		<form action="">
			<div class="water-buttons">
			<input type="radio" id="automatic" value="AUTOMATIC">
			<label for="automatic">Automatic</label>
			<br>
			<input type="radio" id="manual" value="MANUAL">
			<label for="manual">Manual</label>
		</div>
		</form>
	</div>


	
	
</body>
</html>