<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AutoGS</title>
	<!-- <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}"> --> <!-- for flask server css linking-->
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Exo&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Exo:ital@0;1&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
	<script type="text/javascript" src="../static/js/script.js"> </script>

</head>
<body>
	<div class="logo-home">
		<a href="interface.html">
		<img class="logo" src="../static/images/autogs-logo.png" alt="AutoGS">
		</a>
	</div>

	<div class="led">
		<div class="led-power">
			<p id="led-header">LED</p>
			<img id="led-power" src="../static/images/power.png" alt="Power">
		</div>
		<div class="colour-box"></div>
		<div class="change-colour">
			<p>Change Colour</p>
		</div>
		<div class="colour-changer">
			Red <input type="range" min="0" max="255" step="1" id="red" value="115">
			Green <input type="range" min="0" max="255" step="1" id="green" value="10">
			Blue <input type="range" min="0" max="255" step="1" id="blue" value="162">
		</div>
	</div>

	<br><br><br><br>

	<div class="water">
		<div class="water-text">
			<p id="water-text">Watering</p>
		</div>
		<div class="water-form">
			<form action="">
				<div class="water-buttons">
				<input name="wateroption" type="radio" id="automatic" value="AUTOMATIC">
				<label for="automatic">Automatic</label>
				<br>
				<input name="wateroption" type="radio" id="manual" value="MANUAL">
				<label for="manual">Manual</label>
				</div>
			</form>
		</div>
	</div>


	
	
</body>
</html>