p {
	font-family: 'Exo', sans-serif;
}

.logo-home {
	background-color: lightgreen;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	align-items: center;
	align-content: center;
}

.logo {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.led {
	background-color:blueviolet;
	width: 600px;
	height: 200px;
	align-items: center;
	align-content: center;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.change-colour {
	background-color: limegreen;
	font-weight: 400;
	font-size: 20px;
	font-style: italic;
	text-align: center;
}
.led .change-colour {
	height: fit-content;
	width: fit-content;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 35px;
	margin: auto;
}

.led-power {
	background-color: lightpink;
	margin-left: 42.5px;
	width: fit-content;
	height: fit-content;
}
#led-header {
	font-size: 64px;
	font-weight: bold;
	color: white;
	-webkit-text-stroke: 3px black;
	text-align: center;
}
#led-power {
	width: 70px;
	display: block;
	margin: -60px 20px;
}
.led .led-power {
	position: relative;
	transform: translate(0, 12.5%);
}

.colour-box {
	height: 189px;
	width: 189px;
	background-color: khaki;
	border: 5px solid black;

}
.led .colour-box {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.colour-changer {
	background-color: mediumvioletred;
	height: 25px;
	font-family: 'Exo', sans-serif;
	text-align: center;
	position: absolute;
	bottom: -45px;
}
.led .colour-changer {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}

.water {
	background-color: olivedrab;
	width: 600px;
	height: 200px;
	align-items: center;
	align-content: center;
	margin-top: -2%;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}


#water-text {
	font-size: 48px;
	font-weight: bold;
	color: white;
	-webkit-text-stroke: 2.5px black;
	margin-left: 5%;
	margin-bottom: 3%;
}

.water-buttons{
	font-family: 'Exo', sans-serif;
	font-size: 30px;
	font-weight: 600;
	margin-left: 5%;
}

input[type=radio] {
    border: 0px;
    width: 3%;
    height: 1.5em;
	margin-top: auto;
	margin-bottom: auto;
	display: inline-block;
}