.home {
	align-content: center;
	text-align: center;
}

.buttons {
	text-align: center;
	width: 800px;
	height: 200px;
	border: 2px solid black;
}

#red {
	background-color:#e82020;
}
#red:hover {
	background-color:#cf1f1f
}

#blue {
	background-color:#226ff2;
}
#blue:hover {
	background-color:#1f60cf;
}

#green {	
	background-color:#41f222;
}
#green:hover {
	background-color:#39d61e;
}

h2 {
	font-family:Helvetica;
	padding-bottom:0px;
}

