<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AutoGS</title>
	<!-- <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}"> for flask server css linking -->
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Exo&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Exo:ital@0;1&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
	<script type="text/javascript" src="../static/js/script.js"> </script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

</head>
<body>
	<div class="logo-home">
		<a href="interface.html">
		<img class="logo" src="../static/images/autogs-logo.png" alt="AutoGS">
		</a>
	</div>

	<div class="led">
		<div class="led-power">
			<p id="led-header">LED</p>
			<form action="#" method="POST">
				<input id="led-power" type="image" name="submit_led" value="ledToggle" alt="LED Power" src="../static/images/power.png">
			</form>
		</div>
		<div id="colour-box"></div>
		<div class="change-colour">
			<p>Change Colour</p>
		</div>
		<div class="colour-changer">
			<form action="#" methods="POST">
				Red <input name="led-slider" type="range" min="0" max="255" step="1" id="red" value="115" id="redLedValue">
				Green <input name="led-slider" type="range" min="0" max="255" step="1" id="green" value="10" id="greenLedValue">
				Blue <input name="led-slider" type="range" min="0" max="255" step="1" id="blue" value="162" id="blueLedValue">
				<br>
				<input type="submit" value="Submit" name="Send">
			</form>
		</div>
	</div>

	<script type="text/javascript">
		var redSlider = document.getElementById("redLedValue").value;
		var greenSlider = document.getElementById("greenLedValue").value;
		var blueSlider = document.getElementById("blueLedValue").value;

		redSlider.onmouseup = function() {
			document.getElementById("form").submit();
		}
		greenSlider.onmouseup = function() {
			document.getElementById("form").submit();
		}
		blueSlider.onmouseup = function() {
			document.getElementById("form").submit();
		}
	</script>

	<script type="text/javascript">
		var input = document.querySelectorAll("input");
			for(var i = 0; i < input.length; i++){
			input[i].addEventListener("input", function(){
				var red = document.getElementById("red").value,
					green = document.getElementById("green").value,
					blue = document.getElementById("blue").value;
					var display = document.getElementById("colour-box");
				display.style.background = "rgb(" + red + ", " + green + ", " + blue + ")";
			});
		}
	</script>

	<br><br><br><br>

	<div class="water">
		<div class="water-text">
			<p id="water-text">Watering</p>
		</div>
		<div class="water-form">
			<form action="">
				<div class="water-buttons">
					<input onclick="disableManual();" name="wateroption" type="radio" id="automatic" value="AUTOMATIC">
					<label for="automatic">Automatic</label>			

					<label id="textbox-auto" for="autoWaterHumidityDrop" class="textbox">Water if humidity drops below: </label>
					<input class="water-textbox" type="text" id="autoWaterHumidityDrop">

					<br>

					<input onclick="disableAutomatic();" name="wateroption" type="radio" id="manual" value="MANUAL">
					<label for="manual">Manual</label>

					<label for="manualWaterTime" id="textbox-manual" class="textbox">Water for how many seconds:</label>
					<input class="water-textbox" type="text" id="manualWaterTime">

					<br>

					<div class="water-submit">
						<input id="water-submit" type="submit">
					</div>
				</div>
			</form>
		</div>
	</div>

	<script>
		function disableManual() {
			document.getElementById("manualWaterTime").disabled = true;
			document.getElementById("autoWaterHumidityDrop").disabled = false;
			$('#'+localStorage.selected).trigger('click');
		}
		function disableAutomatic() {
			$('#'+localStorage.selected).trigger('click');
			document.getElementById("autoWaterHumidityDrop").disabled = true;
			document.getElementById("manualWaterTime").disabled = false;
		}
		

  	
	</script>

	<div class="data">
		<div class="data-text">
			<p id="water-text">Data</p>
		</div>
		<div class="datalist">
			<p>
				Temperature:
				<br>
				Humidity:
				<br>
				Soil Moisture:
			</p>
		</div>
	</div>
</body>
</html>