<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AutoGS</title>
	<link rel="icon" href="../static/images/autogs-icon.png">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Exo&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Exo:ital@0;1&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
	<!-- <script type="text/javascript" src="../static/js/script.js"> </script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>


<script type="text/javascript">
	window.onload = function() {
		readSensor("temperature");
			readSensor("humidity");
			readSensor("soilmoisture");
			setInterval(loadSensors, 2.5 * 1000);

/*
			var auto = localStorage.getItem("auto");
			if (auto !== null) $('#textbox-auto').val("auto");
			var manual = localStorage.getItem("manual");
			if (manual !== null) $('#textbox-manual').val("manual");
*/
      var automaticCheckbox = document.getElementById("automatic");
      automaticCheckbox.checked = true;
			disableManual();

		}
			
	function loadSensors() {
		console.log("loadSensors");
		readSensor("temperature");
		readSensor("humidity");
		readSensor("soilmoisture");
	}

	function readSensor(sensor) {	
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
			    document.getElementById(sensor).innerHTML =  this.responseText;
			}
		};
		xhttp.open("GET", sensor, true);
		xhttp.send();
	}

	function postRGBValues() {

		var redSlider = document.getElementById("red").value;
		var greenSlider = document.getElementById("green").value;
		var blueSlider = document.getElementById("blue").value;

		console.log(redSlider);
		console.log(greenSlider);
		console.log(blueSlider);

		var xhttp = new XMLHttpRequest();
	  	xhttp.onreadystatechange = function() {
	    
	    if (this.readyState == 4 && this.status == 200) {
	      document.getElementById("demo").innerHTML = this.responseText;
	    }
	  };
	  xhttp.open("GET", "/changeRGB?red=" + String(redSlider) + "&green=" +String(greenSlider) + "&blue="+String(blueSlider), true);
	  xhttp.send();
		document.getElementById("colour-changer").value = redSlider;
	}

</script>

</head>

<body>
	<div class="logo-home">
		<img class="logo" src="../static/images/autogs-logo.png" alt="AutoGS">
	</div>

	<div class="led">
		<div class="led-power">
			<p id="led-header">LED</p>
			<form action="#" method="POST">
				<button id="led-power-button" type="image" name="led-button" value="ledToggle" alt="LED Power"> 
					<img id="led-power" src="../static/images/power.png" alt="">
				</button>
			</form>
		</div>
		<div id="colour-box"></div>
		<div class="change-colour">
			<button id="change-colour-button" onclick="moveWaterDataDiv()">Change Colour</button>
		</div>
		<div id="colour-changer" class="colour-changer">
			<form id="rgbForm">
				Red <input name="red" type="range" min="0" max="255" step="1" id="red" value="255">
				Green <input name="green" type="range" min="0" max="255" step="1" id="green" value="255">
				Blue <input name="blue" type="range" min="0" max="255" step="1" id="blue" value="255" >
				<br>
				<p id="demo"></p>
				<input type="submit"name="sendRGB" onclick="postRGBValues();">
			</form>
		</div>
	</div>

  <script type="text/javascript"> // RGB slider display 
		var input = document.querySelectorAll("input");
			for(var i = 0; i < input.length; i++){
			input[i].addEventListener("input", function() {
				var red = document.getElementById("red").value,
					green = document.getElementById("green").value,
					blue = document.getElementById("blue").value;
					var display = document.getElementById("colour-box");
				display.style.background = "rgb(" + red + ", " + green + ", " + blue + ")";
			});
		}
	</script>

	<br><br><br><br>

	<div id="waterDataDiv">
		<div class="water">
			<div class="water-text">
				<p id="water-text">Watering</p>
			</div>
			<div class="water-form">
				<form action="#" method="POST" name="watering">
					<div class="water-buttons">
						<input onclick="disableManual();" name="wateroption" type="radio" id="automatic" value="AUTOMATIC">
						<label for="automatic">Automatic</label>			

						<label id="textbox-auto" for="autoWaterHumidityDrop" class="textbox">Water if humidity drops below: </label>
						<input class="water-textbox" type="text" name="autoWaterHumidityDrop" id="autoWaterHumidityDrop">

						<br>

						<input onclick="disableAutomatic();" name="wateroption" type="radio" id="manual" value="MANUAL">
						<label for="manual">Manual</label>

						<label for="manualWaterTime" id="textbox-manual" class="textbox">Water for how many seconds:</label>
						<input class="water-textbox" type="text" name="manualWaterTime" id="manualWaterTime">

						<br>

						<div class="water-submit">
							<input id="water-submit" type="submit" name="waterSend">
						</div>
					</div>
				</form>
			</div>
		</div>

		<script>	// radio button disable
			function disableManual() {
				document.getElementById("manualWaterTime").disabled = true;
				document.getElementById("autoWaterHumidityDrop").disabled = false;
				$('#'+localStorage.selected).trigger('click');
			}
			function disableAutomatic() {
				$('#'+localStorage.selected).trigger('click');
				document.getElementById("autoWaterHumidityDrop").disabled = true;
				document.getElementById("manualWaterTime").disabled = false;
			}

			window.onbeforeunload = function() {
				localStorage.setItem("auto", $('#textbox-auto').val());
				localStorage.setItem("manual", $('#textbox-manual').val());
			}

			

			function waterButton() {
				if (document.getElementById('automatic').checked) {
					document.getElementById()
				}
			}	
		</script>

		<div class="data">
			<div class="data-text">
				<p id="water-text">Data</p>
			</div>
			<div class="datalist">
				<div class="datalist-text">
					<span>Temperature =</span>
					<span id="temperature"></span>
				</div>		
				<div class="datalist-text">
					<span>Humidity =</span>
					<span id="humidity"></span>
				</div>			
				<div class="datalist-text">
					<span>Soil Moisture =</span>
					<span id="soilmoisture"></span>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript"> // RGB Slider disappear  on "Change Colour" button click

		const rgbSlider = document.getElementById("colour-changer");
		const button = document.getElementById("change-colour-button");
		const waterDataDiv = document.getElementById('waterDataDiv');
		var moveAmount = -5;

		button.onclick = function() {
			if (rgbSlider.style.display !== "block") {
				rgbSlider.style.display = "block";
				waterDataDiv.style.margin = "0";
			}
			else {
				rgbSlider.style.display = "none";
				waterDataDiv.style.margin = "-90px";
			}
		};
	</script>

</body>
</html>
